---
layout: default
title: Data Structures Animations
---
      <section>
        <div id="title">
          <h1>Data Structure Animations using Processing.js</h1>
          <p></p>
          <hr>
          <span class="credits left">Project maintained by <a href="https://github.com/cathyatseneca">cathyatseneca</a></span>
          <span class="credits right">Hosted on GitHub Pages &mdash; Theme by <a href="https://twitter.com/michigangraham">mattgraham</a></span>
        </div>

        <p>This page contains animations made with Processing.js for common computer algorithms.</p>
             
<h2>Sorting Algorithms</h2>
  <ul>
    {% for page in site.pages %}
      {% if page.categories contains 'sorting' %}
        <li><a href="/DSAnim{{page.url}}">{{page.title}}</a>
        </li> {% endif %}
{% endfor %}
  </ul>
<h2>Linked Lists</h2>
  <ul>
    {% for page in site.pages %}
      {% if page.categories contains 'linkedlists' %}
        <li><a href="/DSAnim{{page.url}}">{{page.title}}</a>
        </li> {% endif %}
{% endfor %}
  </ul>

  <h2>Stacks and Queues</h2>
  <ul>
    {% for page in site.pages %}
      {% if page.categories contains 'stacksandqueues' %}
        <li><a href="/DSAnim{{page.url}}">{{page.title}}</a>
        </li> {% endif %}
{% endfor %}
  </ul>

</section>